/* MAIN */
body {
    background-color: black;
    text-align: center;
    font-family: verdana;
}

div {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1, h2 {
    color:white;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    font-size: 21px;
    color:gray;
}

a {
    color: aquamarine;
    font-size: 16px;
}

footer p {
    text-align: right;
}